.navigation_bar_wrapper{
    background: #422736;
    z-index: 2;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 15px;
    align-items : center;
}


/* navigation logo */
.navigation_bar_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation_bar_logo svg {
    width: 180px;
    height: 25px;
    padding: 25px 0;
    box-sizing: content-box;
}


/* BURGER STYLING */
nav .burger{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 100;
}
nav .burger span{
    width: 30px;
    position: absolute;
    height: 3px;
    background: white;
    transition: .2s all cubic-bezier(0, 0.64, 0.55, 1.3);
}
nav .burger span:nth-child(1){
    transition-delay: 0s;
    top: 5px;
}
nav .burger span:nth-child(2){
    transition-delay: .2s;
    top:14px;
}
nav .burger span:nth-child(3){
    transition-delay: 0s;
    top:23px;
}
.burger.active span:nth-child(1){
    transition-delay: .2s;
    transform: rotate(45deg) translate(7px,6px);
}
.burger.active span:nth-child(2) {
    transition-delay: 0s;
    transform: translateX(-30px);
    opacity: 0;
}
.burger.active span:nth-child(3) {
    transition-delay: .2s;
    transform: rotate(-45deg) translate(6px,-6px);
}
.burger.active {
    position: fixed;
    top: 21px;
    right: 21px;
}


/* Navigation */
ul.navigation{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.navigation li a{
    list-style: none;
    color: #B9E1DC;
    text-align: center;
    display: inline-block;
}
.navigation_wrapper {
    box-shadow: -2px 7px 5px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 0;
    background: #422736;
    z-index: 10;
    height: 100vh;
    top: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: .2s linear all;
    align-items: center;
}
.navigation_wrapper svg{
    fill: white;
}
.burger.active + .navigation_wrapper {
    transform: translateX(0%);
}
ul.navigation a{
    box-sizing: border-box;
    text-decoration: none;
    padding: 15px 30px;
    width: 100%;
    text-align: center;
    border-right: 3px solid transparent;
}
ul.navigation a:hover {
    border-right: 3px solid #B9E1DC;
    background: #00000026;
}
ul.navigation a.active{
    border-right: 3px solid #B9E1DC;
    background: #00000026;
    box-shadow: inset 2px 2px 8px rgba(29, 17, 23, 0.67);
}
svg.navigation_small_logo {
    width: 100px;
    height: 20px;
    margin-bottom: 20px;
}


@media screen and (min-width:750px){
    .navigation_wrapper {
        height: auto;
        flex-direction: row;
        position: relative;
        transform: translateX(0%);
        box-shadow: none;
        
    }
    .navigation_bar_wrapper{
        padding: 10px 0;
    }
    nav{
        padding: 0 10px;
    }
    
    .burger{
        display: none;
    }

    .navigation_bar_logo svg{
        padding: 10px 0;
    }

    ul.navigation{
        margin: 0;
        flex-direction: row;
    }

    ul.navigation a:hover{
        border-right: 0px;
        border-bottom: 3px solid #B9E1DC;
        background: none;
        box-shadow: none;
    }
    ul.navigation li:last-child:hover a{
        border-bottom: 0px solid #B9E1DC;
        background: none;
        box-shadow: none;  
    }
    ul.navigation li a{
        border-right: 0px;
        padding: 10px 5px 5px;
        border-bottom: 3px solid transparent;
    }
    ul.navigation li{
        margin-right: 5px;
        display: flex;
        align-items: center;
    }
    ul.navigation li a.active{
        border-right: 0px;
        border-bottom: 3px solid #B9E1DC;
        background: none;
        box-shadow: none;
    }
    ul.navigation li:last-child{
        display: flex;
        align-items: flex-end;
    }
    ul.navigation li:last-child a{
        color: #ED5858;
        border: 2px solid #ED5858;
        border-radius: 5px;
        padding: 5px 11px;
    }
    ul.navigation li:last-child:hover a{
        color:white;
        background: #ED5858;
        transform: translateY(-2px)
    }

    svg.navigation_small_logo{
        display: none
    }
}
